<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://kit.fontawesome.com/0e5dee2de0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div class="Main-topNavbar">
          <img src="/images/logo1.png" width="50px" alt="sapee" class='logo'></>
          <!-- <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                        <input type="text" placeholder="Search.." name="search2">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form> -->
          <div class="copy-header">
            My Mad Games
          </div>
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="  search-query form-control" placeholder="Search" />
              <span class="input-group-btn">
                <button class="btn btn-danger" type="button">
                  <span class=" glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </div>
    
    
          <div class="dots">
            <i class="fas fa-ellipsis-v"></i>
          </div>
    
    
          <nav class="mainNavbar">
    
            <ul>
              <li>
                <i class="far fa-question-circle"></i>
    
              </li>
              <li>
                <i class="fas fa-shopping-cart"></i>
    
              </li>
              <li>
                <i class="far fa-star"></i>
    
              </li>
              <li>
    
                <i class="fas fa-user"></i>
    
              </li>
    
            </ul>
          </nav>
        </div>
    
    </header>
    <section>

        <article>
            <div class="nombre">
                Grand Theft Auto V</div>
            <div class="cont-padre">
            <div class="contenedor-info">
                <img class="gta" src="/images/gta.png" width="100%" ;>

                <div class="iconos">
                    <i class="fas fa-dollar-sign"><span class="tip">1361</span></i>
                    <i class="fas fa-cart-plus chart"><a href="https://www.com"><span class="tip">Comprar</span></a></i>



                </div>
                <div class="social"><i class="fas fa-heart"></i>
                    <i class="fas fa-comment"></i>
                    <i class="fas fa-share-alt"></i>

                </div>
            </div>
            <div class="descripcion">
                <h5>Descripcion</h5>
                <p>
                  Grand Theft Auto V es un videojuego de acción y aventura desarrollado por Rockstar North y publicado en 2013 por Rockstar Games. El juego se centra sobre todo en los atracos, persecuciones policiales, tiroteos y el logro de los objetivos, incluso si eso significa infringir la ley de vez en cuando. Premium Online Edition es un paquete conveniente que reúne tanto el juego básico de GTA V como Criminal Enterprise Starter Pack para ayudarte a comenzar y desarrollar tu negocio criminal de modo online mucho más rápido.                
                </p>
                
            </div>
        </div>
            <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    Sistema:<span>Windows 10 64 Bit, Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1</span>
                </div>
                <div class="caracteristicas">
                    Procesador:<span>Intel Core i5 3470 @ 3.2GHz (4 CPUs) / AMD X8 FX-8350 @ 4GHz (8 CPUs)</span>
                </div>
                <div class="caracteristicas">
                    Memoria:<span>8 GB RAM</span>
                </div>
                <div class="caracteristicas">
                    Almacenamiento:<span>72 GB disponibles</span>
                </div>
                <div class="caracteristicas">
                    GPU:<span>NVIDIA GTX 660 2GB / AMD HD 7870 2GB</span>
                </div>
            </div>


        </article>
        <div class="cuadro">
            <h4>Review</h4>

        </div>

        <div class=”video-responsive”>
            <iframe src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div>

    </section>


</body>

</html>