<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle del producto</title>
</head>

<body>
    <header>
        <div class="menu">aca va el menu</div>
    </header>
    <section>

        <article>
            <div class="nombre">
                Grand Theft Auto 5(Ps4)</div>
            <div class="cont-padre">
            <div class="contenedor-info">
                <img class="gta" src="/images/gta.png" width="100%" ;>

                <div class="iconos">
                    <i class="fas fa-dollar-sign"><span class="tip">xxxx</span></i>
                    <i class="fas fa-cart-plus chart"><a href="https://www.com"><span class="tip">Comprar</span></a></i>



                </div>
                <div class="social"><i class="fas fa-heart"></i>
                    <i class="fas fa-comment"></i>
                    <i class="fas fa-share-alt"></i>

                </div>
            </div>
            <div class="descripcion">
                <h5>Descripcion</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit expedita placeat adipisci, suscipit et accusantium. Ipsam, obcaecati. Nesciunt, ipsum. Veritatis vitae, optio eos id nemo explicabo ipsam rem nobis possimus!                
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit expedita placeat adipisci, suscipit et accusantium. Ipsam, obcaecati. Nesciunt, ipsum. Veritatis vitae, optio eos id nemo explicabo ipsam rem nobis possimus!                
                </p>
            </div>
        </div>
            <div class="cuadro">
                <div>
                    Requisitos
                </div>
                <div class="caracteristicas">
                    Sistema:<span>ingrese</span>
                </div>
                <div class="caracteristicas">
                    Procesador:<span>ingrese</span>
                </div>
                <div class="caracteristicas">
                    RAM:<span>ingrese</span>
                </div>
                <div class="caracteristicas">
                    Almacenamiento:<span>ingrese</span>
                </div>
                <div class="caracteristicas">
                    GPU:<span>ingrese</span>
                </div>
            </div>


        </article>
        <div class="cuadro">
            <h4>Review</h4>

        </div>

        <div class="”video-responsive”">
            <iframe src="https://www.youtube.com/embed/QkkoHAzjnUs" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>


        <div class="commented">
            <i class="far fa-user-circle iconcomented"></i>

        </div>

    </section>


</body>

</html>