<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Mad Games</title>

  <link rel="stylesheet" href="/css/stylesheet-product.css">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://kit.fontawesome.com/0e5dee2de0.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>
  <header>
    <div class="Main-topNavbar">
      <a href="/">
      <img src="/images/logo1.png" width="50px" alt="logo" class='logo'>
    </a>
      <!-- <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                      <input type="text" placeholder="Search.." name="search2">
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form> -->
      <div class="copy-header">
        My Mad Games
      </div>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>


      <div class="dots">
        <i class="fas fa-ellipsis-v"></i>
      </div>


      <nav class="mainNavbar">

        <ul>
          <li>
            <i class="far fa-question-circle"></i>

          </li>
          <li>
            <i class="fas fa-shopping-cart"></i>

          </li>
          <li>
            <i class="far fa-star"></i>

          </li>
          <li>

            <i class="fas fa-user"></i>

          </li>

        </ul>
      </nav>
    </div>
  </header>
  <section class="page-chart">
    <div class="encabezado-chart">
      Compra


      <a>Favoritos <i class="fas fa-star"></i></a>
    </div>
    <div class="juegos-chart">

      <img src="/images/Bf1.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>



    </div>
    <div class="juegos-chart">
      <img src="/images/Bf2.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>


    </div>
    <div class="juegos-chart">
      <img src="/images/Bf3.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>
    </div>
    <div class="juegos-chart">
      <img src="/images/Bf4.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>

    </div>
    </div>


  </section>

  <div class="buttomtotal-chart">
    Total
    <button>Continuar Compra</button>
  </div>

  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 color='white'>About Us</h6>
          <p class="text-justify"> My Mad Games, es una<i> E-COMMERCE </i> basada en la venta de videojuegos de
            distintas plataformas y relacionados. Los usuarios podran vender/canjear sus propios videojuegos, y se
            ofrecera una suscripcion premium, con mas beneficios.
          </p>
        </div>
      </div>

      <hr>
    </div>
    <!--Social footer-->
    <section class="social-footer">
      <div class="social-footer-left">
        <a href="#"><img class="logoHome" src="/images/home-logo-icon-0.jpg"></a>
      </div>
      <div class="social-footer-icons">
        <ul class="menusimple">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>

    </section>
  </footer>





</body>

</html>