*{box-sizing: border-box;}


.mainCreate { display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 5px;
margin: auto;
width: 100%;}

#formularioCreateGame { border-radius: 15px; background-color: rgba(45, 45, 234, 0.639); width: 50vw; margin:auto}

.signupGame{ padding: auto;
margin: auto;
width: 80vw;}

.signup-general { display: flex; flex-direction: column; width:97%; } /*background-image: url("../images/backgCreate.jpg"); width: auto; background-size: contain ; background-position-x: center;} /*background-image: url("../images/backgCreate.jpg")*/
.inputCreateText {
    margin: auto;
    color: white;
height: 30px;}
#name{ border-radius: 10px;
        }
#descripLetra { color:rgb(0, 0, 0); text-align: center; margin: auto;}

#botonCoverPhoto {
width: 130px;
height: 25px;
border-radius: 10px;
border: 2px dashed blue;
margin:auto;
/* background-color: black; */
}

.imagenCaja{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
margin-bottom: 5px;
margin-left: 50px;}

.contBoton {display: flex;
    justify-content: center;
margin: auto;}

.generosTitulo{ color: rgb(12, 7, 7);}
#tituloCreate{ margin: 3x auto 3px auto;
    text-align: center
  ;
color:rgb(0, 0, 0);}


input{text-align: center;
border-radius: 10px;}
  .signupGame {text-align: center;
width:500px;
margin: 5px auto 5px auto; }


#descripcion{ width: 100%;
height: 100px;
text-align:initial;
margin: auto;
margin-top: 0px;}

#opciones1 { display: flex; color: rgb(0, 0, 0);
flex-direction: column;}
#opciones2 {display: flex;
flex-direction: column;}

.signup-general { margin: 0px;
width: 100vw ;}


.videoyfoto { display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
padding: 3px;
margin-bottom: 2px;}

.plataformas { border: 5px solid rgb(0, 0, 0);
padding: 13px;
border-radius: 10px 25px 0px 35px;
color: rgb(0, 0, 0);}

.cajareq { display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;}

.inputCreateTextreq { width: 50%;
 height: 75px;
 color: rgb(0, 0, 0);
margin: auto;
text-align: start;}

textarea { border-radius: 10px;
border:2px solid grey;}

#videoURL { display: flex;
flex-direction: row;
margin-right: 5px;}

.descripcion { display: flex;
flex-direction: column;
/* width: 33%; */
text-align: left;}

.contdescripcion { display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 5px 0px 5px 0px;}

.videoURL { display: flex;
    flex-direction: column;}

    .nomypre {color: rgb(0, 0, 0);}

    .inputCreateText{ color:black}

    .reqText { color:rgb(0, 0, 0);}

    #requisitos { color: black;}

    .labelVideo { color: rgb(0, 0, 0);}
    .labelCoverFo { color: rgb(0, 0, 0);}


.general { display: flex;
flex-direction: column;
width: 100%;
align-items: center;
margin: 5px auto 5px auto;
justify-content: center;
}

.generosCaja { display: flex;
flex-direction: column;
text-align: center;
width: 100%;
justify-content: center;
align-items: center;
color: rgb(0, 0, 0);}

.generosdea2 { display: flex;
flex-direction: column;
margin: 2px 10px 2px 10px;
justify-content: center;
color: rgb(0, 0, 0);
}



.generos {display: flex;
flex-direction: row;}

.botonJuego { border-radius: 10px ;

                height: 25px50px;
                width: 100px;

             background: rgba(9, 27, 228, 0.9);
             color: white;
            font-size: 17px;}

            .botonJuego:hover { background: rgba(208, 239, 58, 0.633); color: black;
                margin: auto;}

                
                .generosCaja { width: 80%; align-items: center; text-align: center; display: flex; flex-direction: column;}

            @media (max-width : 881px) {

                .nomypre { display: flex; flex-direction: column;}
                .videoyfoto { display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                padding: 3px;
                margin-bottom: 2px;}

                #videoURL { display: flex;
                    flex-direction: column;
                    margin-right: 5px;}

                    .descripcion { display: flex; flex-direction: column; /* width:100%; *//* margin: auto; */ align-items: center; justify-items: center; /* text-align: center; */}

                     #descripLetra { text-align: center; margin: auto;}
                    .contdescripcion { display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin: 5px 0px 5px 0px;}

                    #descripcion{ width: 100%;
                        height: auto;
                        text-align:initial;
                        margin: auto;
                        margin-top: 3px;}

                    .plataformas { border: 2px solid black;
                        padding: 13px;
                        border-radius: 50px;}
                        .preciotitulo {display: flex; flex-direction: column;}
                        .imagenCaja{
                            display: flex;
                            text-align: center;
                            flex-direction: column;
                            margin: auto;
                            justify-content: center;
                        margin-bottom: 5px;
                    
                        }

                        .cajareq { width: 100%;}

                        .inputCreateTextreq {width: 70%;}

                        .generosCaja {margin: auto; flex-direction: column;}

                        #formularioCreateGame { border-radius: 15px; background-color: rgba(45, 45, 234, 0.639); width: 80vw; margin:auto}
            }
