*{box-sizing: border-box;}


.mainCreate { display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 5px;
margin: auto;
width: 100%;}
.signupGame{ padding: auto;
margin: auto;
width: 80vw;}

.signup-general { display: flex; flex-direction: column; width:97%; background-image: url("../images/posible.png");}
.inputCreateText {
    margin: auto;
    color: white;
height: 30px;}
#name{ border-radius: 10px;}

#botonCoverPhoto {
width: 130px;
height: 25px;
border-radius: 10px;
border: 2px dashed blue;
margin:auto;
background-color: black;
}

.imagenCaja{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
margin-bottom: 5px;
margin-left: 50px;}

#tituloCreate{ margin: 3x auto 3px auto;
    text-align: center
  ;}
input{text-align: center;
border-radius: 10px;}
  .signupGame {text-align: center;
width:500px;
margin: 5px auto 5px auto; }


#descripcion{ width: 250px;
height: 100px;
text-align:initial;
margin: auto;
margin-top: 0px;}

#opciones1 { display: flex; color: white;
flex-direction: column;}
#opciones2 {display: flex;
flex-direction: column;}

.videoyfoto { display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
padding: 3px;
margin-bottom: 2px;}

.plataformas { border: 2px solid blue;
padding: 13px;
border-radius: 10px 25px 0px 35px;}

.cajareq { display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;}

.inputCreateTextreq { width: 50%;
 height: 75px;
 color: white;
margin: auto;
text-align: start;}

textarea { border-radius: 10px;
border:2px solid grey;}

#videoURL { display: flex;
flex-direction: row;
margin-right: 5px;}

.descripcion { display: flex;
flex-direction: column;
text-align: center;}

.contdescripcion { display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 5px 0px 5px 0px;}

.videoURL { display: flex;
    flex-direction: column;}

.general { display: flex;
flex-direction: column;
width: 100%;
align-items: center;
margin: 5px auto 5px auto;
justify-content: center;
}

.generosCaja { display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;}

.generosdea2 { display: flex;
flex-direction: column;
margin: 2px 10px 2px 10px;
justify-content: center;
}

.generos {display: flex;
flex-direction: row;}

.botonJuego { border-radius: 8px;
                height: 50px;
                width: 150px;
             background: blue;
            margin-left: 48%;
            font-size: 17px;}

            .botonJuego:hover { background: chartreuse;}

            @media (max-width : 768px) {

                .nomypre { display: flex; flex-direction: column;}
                .videoyfoto { display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                padding: 3px;
                margin-bottom: 2px;}

                #videoURL { display: flex;
                    flex-direction: column;
                    margin-right: 5px;}

                    .contdescripcion { display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 5px 0px 5px 0px;}


                    .plataformas { border: 2px solid black;
                        padding: 13px;
                        border-radius: 50px;}
                        .preciotitulo {display: flex; flex-direction: column;}
                        .imagenCaja{
                            display: flex;
                            text-align: center;
                            flex-direction: column;
                            margin: auto;
                            justify-content: center;
                        margin-bottom: 5px;
                        }
            }

