body {
    height: 100%;
}

#main-mp{
    height: 50vh;
    padding-top: 10%;
    padding-bottom: 10%;
}

.successs{

    background-color: rgb(85, 182, 85);

}

.failure{
    background-color: rgb(219, 54, 4);
}

.pending{
    background-color: rgb(206, 192, 6);
}


.successs p {
    font-size: large;
    font-weight: 700;
    color: white;
    text-align: center;
}

.failure p {
    font-size: large;
    font-weight: 700;
    color: white;
    text-align: center;
}

.pending p {
    font-size: large;
    font-weight: 700;
    color: black;
    text-align: center;
}