.myarticlePurchase{
    border-bottom: 1px solid gray;
}
.myPurchase{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
    margin: 10px;
    padding:10px;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.myPurchaseBox{
    flex-direction: row;
    width: auto;
}
.boxMother{
justify-content: flex-start;
display: flex;
height: 6vh;
border-bottom: 1px solid gray;
color: whitesmoke;
margin-bottom: 10px;


}
.titleMypurchase{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    width: 20vw;
    color: whitesmoke;
}
.myPurchaseGameBox{
    width: 15vw;
    border: 1.5px solid coral;
    border-radius: 10px;
    height: 30vh;
    margin:auto;
    margin-top: 10px;
}
.descriptionMypurchase{
    font-size: large;
    width: 35vw;
    
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
   
}
.subDescriptionMypurchase{
    font-size: large;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.buttonBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10vw;
    height: 15vh;
    
    
}
 .buttonsmyPurchase{
    height: 7vh;
    border-radius: 15px;
    border: 0.3px solid gray;
    background: #4353adc5;
    font-size: large;
    box-shadow: 0px 0px 5px 0px gray;
    
  
}
.buttonsmyPurchase:hover{
    background-color:whitesmoke;

}
