.contenedor-inputs-new-pass {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin:25px auto 25px auto;}


    .sent-email { display: none;}

    .msg-email-sent{margin:10% auto;
        display: flex;
      flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: rgba(253, 253, 253, 0.6);
    height: 80%;
    width: 75%;

  }

    

   

    @media (max-width : 768px) {

    .contenedor-inputs-new-pass {display: flex;
        flex-direction: column;
        align-items: center;}
    
    }


    .new-pass-label{   margin: 3px;}
    
    