* { box-sizing: border-box;}


.filter_navbar { display: flex; 
    flex-direction: row;

 justify-content: space-between;} 
    
    li {list-style: none;
    margin: 5px;}

    .games-conteiner { display: flex;
     flex-direction: column; 
     
    padding: 5px;}

    .game-price { margin-right: 80%; font-weight: bolder;}

  



    
    .cont-buy-buttons { display: flex;
                      flex-direction: row;}
    .buy-button-search { font-size: 16px;
                        color: blue;
                        margin: auto;
                       
                       font-style: italic;}

                       .buttons-article-container{ display: flex;
                     flex-direction: row; 
                    justify-content: center;}

                       .cart-article-search { font-size: 16px;}

    .image-game-cover { height: 70%; margin: auto;
    border-radius: 5px;}
    

    .individual-game-container{ margin: auto;}

 
    

    .filters-Check-Box { display: none;}


@media (min-width:768px){   
    .main-search{ display: flex; flex-direction: column;}
    #title-search { font-family: cursive; display: block; text-align: center;
    margin: auto;
margin-top: 35px;}
    
    
    .filters-Check-Box { display: flex; flex-direction: column;}

.main-search { display: flex;
 flex-direction: row;}
    .button_filter {display: none; }

    .price_Filter { display: flex;
    flex-direction: column;
    padding: 5px 15px 5px 15px ;

width: auto;}

.games-conteiner { display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 5%; 
                    padding-top: 10px;
                    margin-top: 0px;
                    flex-wrap: wrap;
                
                      }
.individual-game-container { width: 20%;
    box-sizing: border-box;
    display: flex;
    border-color: transparent;
    flex-direction: column;
    padding: 3px;
  margin: 5px;
}

.individual-game-container:hover:hover { background-color: rgba(172, 165, 165, 0.124) ;
border-radius: 10px;}

.game-description{display: flex;
                    height: 80%;
                border-radius: 2px;
                background-color: rgba(11, 80, 255, 0.344);
               ;}

    .filter_navbar { display: flex;
     flex-direction: column;
     justify-content: start;
     padding: 30px;
     background-color: #2195f354;
     
    
    width: 20vw;}


} 