*{
  box-sizing: border-box;
}
header{
  background-color: #3f51b5;
  margin: auto;
  width: 100%;
  padding: 15px;


}
.logo{
  margin-top: 1px;
  margin-left: 15px;
  width:50px;


}
.logoHome{
  width: 50px;
  height: 50px;
}
.encabezado-chart{
  display: none;
}


.Main-topNavbar{
  display: flex;
  justify-content: space-between;
}


.copy-header{
  display: none;
}

#custom-search-input {
  margin:0;
  margin-top: 15px;
  padding: 0;
  width: 66%;
  background-color: #3f51b5;
  opacity: 1;

}

.dots{
  color: white;
  margin-top: 20px;
  margin-right: 12px;
}

.mainNavbar ul{
  list-style: none;

  color: white;

}

.mainNavbar{
  display: none;
}

.mainNavbar a{
  text-decoration: none;

}


.menusimple{
  list-style: none;
  display:flex;
  align-content: space-between;
}
.menusimple li{
  list-style: none;
  display:flex;
  align-content: space-between;
  margin:0 12px;
}
.row{
  display:flex;
  justify-content: center;
  align-content: center;
}
.row h6{
  color: white;

}
.social-footer {
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
display:flex;
align-content: flex-start;
background-color:#eceeef;
color:#818a91;
font-size:14px;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3f4552
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}



.site-footer
{
  background-image:url('/images/posible.png');
  padding:45px 0 20px;
  font-size:14px;
  height: 100%;
  color:white;
}

.text-justify{
  color: white;
}



.juegos-chart{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px gray;
}
.portada-chart{
  width: 23%;
  padding: 0px;


}
.buttomtotal-chart{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin: auto

}
.buttomtotal-chart button{

  border-radius: 8px;
  border: solid 0.5px gray;
  background-color: #3f51b5;
  color: whitesmoke;
  width: 40%;
  max-width: 280px;
  margin: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  align-items: center;
  padding-left: 15px;
}

.button2 {background-color: #f44336; /* Green */}

.descripcion-chart{
     display: none;
}

    @media(min-width:768px){
      .encabezado-chart{
        margin-left: 9%;
        width: 39%;
        padding-top: 10px;

        display: flex;
        justify-content: space-between;

        align-items: center;
      }
      .logo{
        justify-content: flex-start;
        width: 50px;


     }
    .page-chart{
        background-color:#ebebeb;

    }
    .Main-topNavbar{
      display: flex;
      max-width: 768px;
      margin: auto;
  }

  .copy-header{
    display: block;
    max-width: 350px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding-right: 15px;
    margin-top: 18px;
}

.dots{
      display: none;
  }


.mainNavbar{
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }
  .mainNavbar ul {
      display: flex;
      justify-content: space-between;

  }
  .mainNavbar li {
      margin: 0 5px;

  }

    .portada-chart{
        width: 360px;
        padding: 20px;


    }
    .juegos-chart{
        margin: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .descripcion-chart{
        display: flex;
    }
    .encabezado-chart{
        margin-left: 9%;
        width: 39%;
        padding-top: 10px;

        display: flex;
        justify-content: space-between;

        align-items: center;
    }



}

