*{
  box-sizing: border-box;
}
.encabezado-chart{
  display: none;
}


.juegos-chart{
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px gray;  
}
.portada-chart{
  width: 23%;
  padding: 0px;
  
  
}
.buttomtotal-chart{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.buttomtotal-chart button{
  
  border-radius: 8px;
  border: solid 0.5px gray;
  background-color: #3f51b5;
  color: whitesmoke;
  width: 40%;
  max-width: 280px;
}

.descripcion-chart{
     display: none;
}

    @media(min-width:768px){
      .encabezado-chart{
        margin-left: 9%;
        width: 39%;
        padding-top: 10px;
      
        display: flex;
        justify-content: space-between;
        
        align-items: center;
      }
    .page-chart{
        background-color:#ebebeb;

    }

    .portada-chart{
        width: 13%;
        padding: 20px;
        
        
    }
    .juegos-chart{
        margin: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .descripcion-chart{
        display: flex;
    }
    .encabezado-chart{
        margin-left: 9%;
        width: 39%;
        padding-top: 10px;

        display: flex;
        justify-content: space-between;
        
        align-items: center;
    }



}

