

/* Etiqueta, clase, id */
*{
    box-sizing: border-box;
}
header{
    background-color: #3f51b5;
    margin: auto;
    width: 100%;
    padding: 15px;


}

.abonar{
  margin-left: 10px;
  text-align: center;
  font-weight: 700;
}





.dolar{
  margin-left: 48.5%;
  margin-top: 4.5%;
  width: 7vw;
  max-height: 15vh;
}

.dolarBlanco{
  display: none;
}



.pictures{
  max-height: 80%;
}

.mercadoPago{
  background-color:rgba(0, 0, 0, 0.1);

}

.mercadoPagoDetalle{
  display: flex;
  flex-direction: column ;
  justify-content: space-between;

}

.mp{
  margin-top: 5%;
  text-align: center;
  width: 20vw;
  margin-left: 42%;
}

.descrip {font-size: 16px;
  color: grey;}

.contenedorProductosSeccion { display: flex;
  flex-direction: column;
}

.imagenDeProductos { width: 100%;
  height: 100%;
}
.textWarning{
  font-size: 15px;
  color: red;
 width: 100%;
 background-color: rgb(211, 211, 211);
 display: inline;
 margin: 1px auto 1px auto;
}



.roundImage{
  border-radius:100%;
}


.menusimple{
  list-style: none;
  display:flex;
  align-content: space-between;
}
.menusimple li{
  list-style: none;
  display:flex;
  align-content: space-between;
  margin:0 12px;
}
.row{
  display:flex;
  justify-content: center;
  align-content: center;
}
.social-footer {
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
display:flex;
align-content: flex-start;
background-color:#eceeef;
color:#818a91;
font-size:14px;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3f4552
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}


.site-footer
{
  background-image:url('/images/posible.png');
  padding:45px 0 20px;
  font-size:14px;
  height: 100%;
  color:white;
}
.boton{
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: grey;
}

.slideShow{
    width: 100%;
    height:10%;

}
.mySlides{
  width: 100vw;
  height: 39vh;
}

.copy-header{
    display: none;
}

.drawer{
    display : none
}


header p{
    margin-left: 125px;
}

#custom-search-input {
    margin:0;
    margin-top: 15px;
    padding: 0;
    width: 66%;
    background-color: #3f51b5;
    color: white;
    opacity: 1;
    color:white;

}

.dots{
    color: white;
    margin-top: 20px;
    margin-right: 12px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    color: white;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    background-color: #3f51b5;
    color:white;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:white;
}

.search-query:focus + button {
    z-index: 3;
}




footer p{
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    color : white


}



footer h4{
    font-size: large;
    text-align: center;
    color : grey
}

.producto{

    width: 90%;
    background-color: rgb(240, 239, 239);
    text-align: center;
    margin-left: 15px;

 }

 .producto h3 {
     text-align: left;
     margin-left: 2%;
 }

 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}



 article {
     margin: 10px;
     text-align: center;
     font-family: 'Roboto';
     border: #ebebeb 1px solid;
     padding : 15px;
     background-color: white;
     box-sizing: border-box;
     margin-left: 20px;

 }




 .datos {
     border: #ebebeb 1px solid;
     padding : 15px;
     background-color: white;
     box-sizing: border-box;
     text-align: center;

 }
footer{
    text-align: left;
}

.header-dark{
  background-color: rgb(127, 11, 151);
}


.search-dark{
  color: black;
}



.miBody{
  background: rgb(37, 37, 37)

}

.miBody .buttomtotal-chart {
  background: rgb(37, 37, 37)

}


.miBody .juegosChart{
  background: rgb(37, 37, 37);
  color: white;

}


.miBody .page-chart{
  background: rgb(37, 37, 37);
  color: white;

}


.miBody .botonSignIn{

  color: white;
}


.miBody article{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody .purchase-item{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody .item-detail{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody .side-panel{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody .side-details{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody .purchase{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody p{
  color: white;
}

.miBody li{
  color: white;
}


.miBody h1 {
  color: white;
}

.miBody h2 {
  color: white;
}

.miBody h3 {
  color: white;
}

.miBody h4 {
  color: white;
}

.miBody span{
  color: white;
}



.miBody2{

  transition: color 300ms, background-color 300ms;
  background: rgb(37, 37, 37)
}

.miBody2 .botonSignIn{
  transition: color 300ms, background-color 300ms;
  color: white;
}



.miBody2 article{
  transition: color 300ms, background-color 300ms;
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody2 p{
  transition: color 300ms, background-color 300ms;
  color: white;
}

.miBody2 li{
  transition: color 300ms, background-color 300ms;
  color: white;
}


.miBody2 h1 {
  color: white;
}

.miBody2 h2 {
  color: white;
}

.miBody2 h3 {
  color: white;
}

.miBody2 h4 {
  color: white;
}

.miBody2 span{
  color: white;
}


.miBody2 .buttomtotal-chart {
  background: rgb(37, 37, 37)

}


.miBody2 .juegosChart{
  background: rgb(37, 37, 37);
  color: white;

}


.miBody2 .page-chart{
  background: rgb(37, 37, 37);
  color: white;

}

.miBody2 .purchase-item{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody2 .item-detail{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody2 .side-panel{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody2 .side-details{
  background-color: rgb(37, 37, 37);
  color: white;
}

.miBody2 .purchase{
  background-color: rgb(37, 37, 37);
  color: white;
}



 /* body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 0;
    background-color: rgb(214, 214, 214);
    width: 100%;
 } */

.bodyDetail {
  background-color: rgb(240, 240, 240);
}

 .price {
     font-size: 18px;
     text-align: left;
     margin-left: 2%;
 }

 .discount {
     font-size: 16px;
     text-align: left;
     margin-left: 2%;
     color: green;

 }

 .description {
     font-size: 16px;
     text-align: left;
     margin-left: 2%;
     display: none;
 }


 .topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

 .descripcionEdit {
  margin-right:35px;
  margin-top : -25px;
  text-align: left;
 }






  /* Style the links inside the navigation bar */


  /* Change the color of links on hover */


  /* Style the "active" element to highlight the current page */

  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: left;
    padding: 3px;
    border: none;
    margin-top: 15px;
    margin-left: 14px;

    font-size: 14.5px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 7%;
    width: 130px;
    height: 25px;

  }

  .Main-topNavbar{
    display: flex;
    justify-content: space-between;
  }




h3{
    font-size: 24px;
}

.text {
    font-size: 12px;
    color: rgb(136, 130, 130);
    text-decoration: none;

}

.links{
    display: none;
}

.checkboxesCategorias li{
  display:flex;
  padding: 4px;
}
.checkboxesCategorias input{
  margin: 0px 1px 13px;
}


.searchButton{
    float : right;


    margin-top : 15px;
    height: 21px;
    border-radius:7% ;
}

form.example input[type=text] {
    padding: 10px;
    margin-left: 55%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    height: 31px;
    background: #f1f1f1;
    margin-top: -30px;
    border-radius: 8px;
  }

  form.example button {

    float: left;
    width: 10%;
    height:31px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: -30px;
    border-radius: 8px;

    margin-left: -25px;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


.logo{
    margin-top: 1px;
    margin-left: 15px;
    width:50px;


}

.mainNavbar ul{
    list-style: none;

    color: white;

}

.mainNavbar{
    display: none;
}

.mainNavbar a{
    text-decoration: none;
    color: black;

}


.estrenos{
  text-align: left;

  margin-bottom: 0;
  margin-left: 5%;
  font-weight: 700;
}







.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 242, 242);


}
.filter{
  padding: 15px ;
  background-color: #F5F5F5;
  margin: 0,0,10px;
}

.requisitos{
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}

.idEditForm{
  display: none;
}





.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3f4552
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}

.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.logoHome{
  width: 50px;
  height: 50px;
}



.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:14px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3f4552
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.logoHome{
  width: 50px;
  height: 50px;
}






  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }














    .topnav input[type=text] {
        margin-left: 16px;
        width: 17%;
        margin-top: 12px;

      }



.producto{

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;


 }

 .filter{
    padding: 15px ;
    background-color: #F5F5F5;
    margin: 0,0,10px;
}

.boton{
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: grey;
}

.hamburger-button{
  display : block;
}



.ham{
  display: block;
}








@media (min-width:768px){


  .ham{

    display: none;
  }

  .mySlides{
    width: 100vw;
    height: 74vh;
  }

  .altaNavePa{
    display : none
  }
  .contenedorProductosSeccion{ display: flex;
    flex-direction: row;
  flex-wrap: wrap;
justify-content: center;}
   .contenedorProductosSeccion .productosCaja { box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin: 5px 15px  ;
    padding: 1px;
  width: 15%;}

.logoHome{
  width: 50px;
  height: 50px;
}

.mercadoPagoDetalle{
  display: flex;
  flex-direction: row ;
  justify-content: space-around;

}

.mercadoPago{
  background-color:rgba(0, 0, 0, 0.1);

}
.mp{
  margin-top:0px;
  width: 20vw;
  margin-right: 42%;
}

.dolar{
  margin-left: 52%;
  margin-top: 4.5%;
  width: 7vw;
  max-height: 15vh;
}








    .description{
        display: block;
    }



    .Main-topNavbar{
        display: flex;
        max-width: 768px;
        margin: auto;
    }

    .copy-header{
        display: block;
        max-width: 350px;
        text-align: center;
        font-size:  14px;
        font-weight: 700;
        color: white;
        padding-right: 15px;
        margin-top: 18px;
    }
    .dots{
        display: none;
    }
    .hamburger-button{
        display: none;
    }
    .mainNavbar{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .mainNavbar ul {
        display: flex;
        justify-content: space-between;

    }
    .mainNavbar li {
        margin: 0 5px;

    }

    .bars{
        display: none;
    }

    .compraa{
        display: flex;
        flex-direction: column;
        margin-left: 35%;
        font-size: 15px;
    }

    .topnav input[type=text] {
        margin-left: 16px;
        width: 50%;
        margin-top: 12px;

      }


      .drawer li{
        font-size: 10px;
    }
    .drawer h3{
        font-size: 15px;
    }

      .games{
          width: 85;
          background-color: rgb(240, 239, 239);
      }




    .links{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 5px;
        margin-top: 15%;
    }

    .linkss{
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
    }

    .logo{
       justify-content: flex-start;
       width: 50px;


    }

    .container{
        display: flex;

        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: center;

    }





    .producto{

        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;


     }



}

@media (min-width: 968px){
  .filter{
    display: none;
  }
  .drawer{
    display: block;
   text-align: left;
    width: 10%;

    background-color: #3f51b5;
    justify-content: left;
    color: white;
}

}

@media (min-width:1200px){





    form.example input[type=text] {
        margin-left: 80%;
    }






    .drawer li{
        font-size: small;
    }





}





