*{
  box-sizing: border-box;
}
header{
  background-color: #3f51b5;
  margin: auto;
  width: 100%;
  padding: 15px;


}

.fa.fa-heart-o:before {
  content: "\f004";
  color: black;
  font-size:  18px;
}
.trash{
background: none;
border: none;
font-size: 18px;

}
.mas{
border: none;
background: none;
font-size: 15px;
}
.menos{
background:none ;
border:none;
color: black;


font-size: 15px;

}
.number{
font-size: 18px;
font-weight: bolder;
color:#EC6EAD ;
}
.pricess{
  font-size: 18px;
  color: black;

  }



.gameId{
  display : none
}

.userId{
  display : none
}




.cantidadCart{
  padding-top: 15px;
  border: none;
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}

.empty-cart{
  padding-top: 50px;
  margin: auto;
  font-weight: 800;
  font-style: oblique;
  color: rgb(110, 109, 109);
  font-size: large;
  text-align: center;
}
.logo{
  margin-top: 1px;
  margin-left: 15px;
  width:50px;


}
.logoHome{
  width: 50px;
  height: 50px;
}
.encabezado-chart{
  display: flex;
  justify-content: space-around;
  font-size: large;

}



.Main-topNavbar{
  display: flex;
  justify-content: space-between;
}


.copy-header{
  display: none;
}

#custom-search-input {
  margin:0;
  margin-top: 15px;
  padding: 0;
  width: 66%;
  background-color: #3f51b5;
  opacity: 1;

}

.dots{
  color: white;
  margin-top: 20px;
  margin-right: 12px;
}

.mainNavbar ul{
  list-style: none;

  color: white;

}

.mainNavbar{
  display: none;
}

.mainNavbar a{
  text-decoration: none;

}


.menusimple{
  list-style: none;
  display:flex;
  align-content: space-between;
}
.menusimple li{
  list-style: none;
  display:flex;
  align-content: space-between;
  margin:0 12px;
}
.row{
  display:flex;
  justify-content: center;
  align-content: center;
}
.row h6{
  color: white;

}
.social-footer {
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}



.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
display:flex;
align-content: flex-start;
background-color:#eceeef;
color:#818a91;
font-size:14px;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3f4552
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.dribbble:hover
{
background-color:#ea4c89
}



.site-footer
{
  background-image:url('/images/posible.png');
  padding:45px 0 20px;
  font-size:14px;
  height: 100%;
  color:white;
}

.text-justify{
  color: white;
}



.portada-chart{
  width: 20vw;
  padding: 5px;



}
.juegosChart{
min-height: 20vh;
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
  -webkit-box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
  -moz-box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
  opacity: 0.90;
  border-radius: 10px;

}
.buttomtotal-chart{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin: auto;
  background-color: rgb(224, 224, 224);

}

.otroColor{
  background-color: white;
}
.buttomtotal-chart button{

  border-radius: 8px;
  border: solid 0.5px gray;
  background-color: #3f51b5;
  color: whitesmoke;
  width: 40%;
  max-width: 280px;
  margin: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 80px;
  align-items: center;
  padding-left: 15px;
}
.productBody{
  margin: none;

  background-image:url('/images/backgroundImages.jpg');
  background-size: cover;
  background-position:center ;
  background-repeat: no-repeat;
  background-attachment: fixed;



}

.button2 {background-color: #f44336; /* Green */}

.descripcion-chart{
     display: none;
}

    @media(min-width:768px){

      .encabezado-chart{
        margin-left: 9%;
        width: 45vw;
        padding-top: 10px;


        display: flex;
        justify-content: space-between;

        align-items: center;
      }
      .cantidadCart{
        padding-top: 15px;
        border: none;
        display: flex;
        width: 15%;
        justify-content: space-evenly;
      }
      .logo{
        justify-content: flex-start;
        width: 50px;


     }
    .productBody{
      margin: none;

      background-image:url('/images/backgroundImages.jpg');
      background-size: cover;
      background-position:center ;
      background-repeat: no-repeat;
      background-attachment: fixed;



    }
    .Main-topNavbar{
      display: flex;
      max-width: 768px;
      margin: auto;
  }

  .copy-header{
    display: block;
    max-width: 350px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding-right: 15px;
    margin-top: 18px;
}

.dots{
      display: none;
  }


.mainNavbar{
      margin-top: 25px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }
  .mainNavbar ul {
      display: flex;
      justify-content: space-between;

  }
  .mainNavbar li {
      margin: 0 5px;

  }

    .portada-chart{
        width: 20vw;



    }
    .juegosChart{
      width: auto;
        margin: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #3494E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
        -webkit-box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
        -moz-box-shadow: 3px 15px 80px -7px rgba(38,64,169,0.75);
        opacity: 0.90;
        border-radius: 10px;

    }
    .descripcion-chart{
        display: flex;
        font-size: 20px;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .encabezado-chart{
        margin-left: 1%;
        width: 39%;
        padding-top: 10px;
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #428bca;

        display: flex;
        justify-content: space-between;

        align-items: center;
    }
    .fa.fa-heart-o:before {
      content: "\f004";
      color: black;
      font-size:  25px;
  }
  .trash{
    background: none;
    border: none;
    font-size: 25px;

  }
  .mas{
    border: none;
    background: none;
    font-size: 20px;
  }
  .menos{
    background:none ;
    border:none;
    color: black;


    font-size: 20px;

  }
  .number{
    font-size: 25px;
    font-weight: bolder;
    color:#EC6EAD ;
  }
  .pricess{
    font-size: 30px;
    font-weight: bold;

  }



}

