

/* Etiqueta, clase, id */
*{
    box-sizing: border-box;
}
header{
    background-color: #3f51b5;
    margin: auto;
    width: 100%;
    padding: 15px;


}
.boton{
  margin-left: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-color: grey;
}

.slideShow{
    width: 100%;
    height: 100%;

}

.copy-header{
    display: none;
}

.drawer{
    display : none
}


header p{
    margin-left: 125px;
}

#custom-search-input {
    margin:0;
    margin-top: 15px;
    padding: 0;
    width: 66%;
    background-color: #3f51b5;
    opacity: 1;

}

.dots{
    color: white;
    margin-top: 20px;
    margin-right: 12px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    background-color: #3f51b5;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:white;
}

.search-query:focus + button {
    z-index: 3;
}




footer p{
    font-size: 12px;
    text-align: center;
    word-wrap: break-word;
    color : white


}



footer h4{
    font-size: large;
    text-align: center;
    color : grey
}

.producto{

    width: 90%;
    background-color: rgb(240, 239, 239);
    text-align: center;
    margin-left: 15px;

 }

 .producto h3 {
     text-align: left;
     margin-left: 2%;
 }

 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.container :hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

 article {
     margin: 10px;
     text-align: center;
     font-family: 'Roboto';
     border: #ebebeb 1px solid;
     padding : 15px;
     background-color: white;
     box-sizing: border-box;
     margin-left: 20px;

 }




 .datos {
     border: #ebebeb 1px solid;
     padding : 15px;
     background-color: white;
     box-sizing: border-box;
     text-align: center;

 }
footer{
    text-align: left;
}




 body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    margin-top: 0;
    background-color: rgb(240, 239, 239);
 }

 .price {
     font-size: 18px;
     text-align: left;
     margin-left: 2%;
 }

 .discount {
     font-size: 16px;
     text-align: left;
     margin-left: 2%;
     color: green;

 }

 .description {
     font-size: 16px;
     text-align: left;
     margin-left: 2%;
     display: none;
 }


 .topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

  }

  /* Style the links inside the navigation bar */


  /* Change the color of links on hover */


  /* Style the "active" element to highlight the current page */

  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: left;
    padding: 3px;
    border: none;
    margin-top: 15px;
    margin-left: 14px;

    font-size: 14.5px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 7%;
    width: 130px;
    height: 25px;

  }

  .Main-topNavbar{
    display: flex;
    justify-content: space-between;
  }




h3{
    font-size: 24px;
}

.text {
    font-size: 12px;
    color: black;
    text-decoration: none;

}

.links{
    display: none;
}



.searchButton{
    float : right;


    margin-top : 15px;
    height: 21px;
    border-radius:7% ;
}

form.example input[type=text] {
    padding: 10px;
    margin-left: 55%;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    height: 31px;
    background: #f1f1f1;
    margin-top: -30px;
    border-radius: 8px;
  }

  form.example button {

    float: left;
    width: 10%;
    height:31px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: -30px;
    border-radius: 8px;

    margin-left: -25px;
  }

  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


.logo{
    margin-top: 1px;
    margin-left: 15px;
    width:50px;


}

.mainNavbar ul{
    list-style: none;
    margin: 0;
    width: 1em;
    height: 1em;
    color: white;

}

.mainNavbar{
    display: none;
}

.mainNavbar a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 5px 0;
    font-size: 11px;
}


.estrenos{
  text-align: center;
  background-color: rgb(243, 242, 242);
  margin-bottom: 0;
  font-weight: 700;
}







.main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 242, 242);


}
.filter{
  padding: 15px ;
  background-color: #F5F5F5;
  margin: 0,0,10px;
}


@media (min-width:361px){
    .description{
        display: block;
    }

    .bars{
        display: none;
    }



    .links{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-self: normal;
        flex-wrap: wrap;

    }
    .filter{
      padding: 15px ;
      background-color: #F5F5F5;
      margin: 0,0,10px;
  }

    .site-footer
{
  background-image:url('/images/posible.png');
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:white;
}
.site-footer hr
{

  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{

  padding-left:0;
  list-style:none
}
.footer-links li
{

  display:block
}
.footer-links a
{
  color:white
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}













    .topnav input[type=text] {
        margin-left: 16px;
        width: 17%;
        margin-top: 12px;

      }



.producto{

    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;


 }

 .filter{
    padding: 15px ;
    background-color: #F5F5F5;
    margin: 0,0,10px;
}

.boton{
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    background-color: grey;
}


}

@media (min-width:968px){
    .description{
        display: block;
    }


    .filter{
        display: none;
    }
    .Main-topNavbar{
        display: flex;
        max-width: 768px;
        margin: auto;
    }

    .copy-header{
        display: block;
        max-width: 350px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        color: white;
        padding-right: 15px;
        margin-top: 18px;
    }
    .dots{
        display: none;
    }
    .hamburger-button{
        display: none;
    }
    .mainNavbar{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .mainNavbar ul {
        display: flex;
        justify-content: space-between;

    }
    .mainNavbar li {
        margin: 0 5px;

    }

    .bars{
        display: none;
    }

    .compraa{
        display: flex;
        flex-direction: column;
        margin-left: 35%;
        font-size: 15px;
    }

    .topnav input[type=text] {
        margin-left: 16px;
        width: 50%;
        margin-top: 12px;

      }
      .drawer{
          display: block;
         text-align: left;
          width: 10%;

          background-color: #3f51b5;
          justify-content: left;
          color: white;
      }

      .drawer li{
        font-size: 10px;
    }
    .drawer h3{
        font-size: 15px;
    }

      .games{
          width: 85;
          background-color: rgb(240, 239, 239);
      }




    .links{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 5px;
        margin-top: 15%;
    }

    .linkss{
        display: flex;
        justify-content: flex-end;
        align-content: flex-start;
    }

    .logo{
       justify-content: flex-start;
       width: 50px;
       margin-left: -30px;

    }

    .container{
        display: flex;

        flex-wrap: wrap;
        justify-content: flex-start;
        align-self: center;

    }
    .row{
      display:flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }




    .producto{

        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;


     }
     .container2{
       display:flex;
     }


}

@media (min-width:1200px){




    form.example input[type=text] {
        margin-left: 80%;
    }



    .copy-header{
        max-width: none;
        font-size: 1.55rem;
        font-weight: 400;
        margin: 0;
        color: white;
        margin-top: 25px;

    }

    .drawer{
        display: block;

        width: 10%;

        background-color: #3f51b5;

    }
    .drawer li{
        font-size: small;
    }
    .container{
      display: flex;

      flex-wrap: wrap;
      justify-content:center;
      align-self: center;

  }
  .row{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-self: center;
  }
  .container2{
    display:flex;
  }




}



