*{font-family: "roboto";}


.form-edit-game { display: flex;
    flex-direction: column;}

    .errors-container { display:none;}


.game-edit-cont{ margin: auto;
box-sizing: border-box;
padding: 3vmin;
justify-content: center;}

.content-game-descript{display: flex; flex-direction: column; border-radius: 6px; justify-content: space-between; padding: 5px; background-color: rgba(85, 151, 175, 0.392); position: relative;}

.title-edit-game { font-family: "roboto"; margin: auto; text-align: center;}
.name-price-genre { display: flex; flex-direction: row; flex-wrap: wrap;}


.name-input-edit-game {  font-family: "roboto"; margin: auto; text-align: center;}

#button-edit{border-radius: 10px; width: 20vw;}
.label-game-edit { display: flex; flex-direction: column; }

.input-edit-game{margin: auto;margin-bottom: 2px; }

.video-section{display: flex; flex-direction: column; width: auto;}

#img-edit-img {width:40%; height: auto; margin: auto; }

.platforms-radio-cont { display: flex; flex-direction: column; margin: auto;}



@media(min-width:768px){



    .form-edit-game { display: flex;
        flex-direction: row;
    justify-content: space-between; align-items: center;}
.title-edit-game{margin-top: 1px; padding-bottom: 5px;}
        .content-game-descript{margin: auto; justify-content: space-between;}

        .cnt-gnres-edit { display: flex; flex-direction: row; flex-wrap: wrap; font-family: "roboto";}

    #img-edit-img {width:260px; height: auto; padding: 15px }

    .content-game-descript{padding: 20px; width: 55vw;}

    .label-game-edit-genre {display: block; }

    .label-game-edit-genr { margin-top: 15px;}

    .radios-genres { display: flex; flex-direction: row; margin-top: 25px; align-items: center; justify-content: center;}

    .cont-img-inputs{display: flex; flex-direction: column;}

   .video-section{display: flex; flex-direction: column;}

   #txt-description { width: 100%; height: 100px; margin: auto;}

   #button-edit { margin: auto;}

   #radio-plat { margin: 10px; text-align: center; align-items: center;}

   .platforms-radio-cont{margin: auto; display: flex; flex-direction: row; justify-content: space-between;}

   .name-price-genre { display: flex; flex-direction: column; align-items: center; justify-content: space-around; width: 100%;}

   .cont-img-name-price { display: flex; flex-direction: row;}
.descript-label{width: 100%;}

    }
