
@media (min-width: 768px){
    body{
        background-color: rgb(208, 216, 208);
        height: 40%;
        }
    .site-footer{
        background-size: contain;
        height: 30%;
    }
    header{
        height: 30%;
    }
}