<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/head.ejs')  %>



<body>
    <%- include('./partials/header.ejs')  %>
    <section class="signup-general">



<main class="mainCreate">

    <h2 id="tituloCreate">Alta de juego</h2>

    <div class="errors-container">

        <ul class="errors-js">       </ul>

     </div>

    <form class="createGame" id="formularioCreateGame" action="/products" enctype="multipart/form-data" method="POST">

           <div class="general">
               <div class="nomypre">
           <label for="name">Título</label> <input type="text" class="inputCreateText" id="nameGame" name="name" placeholder="God of War Digital PS4" >

          <label for="price">Precio </label> <input type="text" id="price" class="inputCreateText" name="price" placeholder="AR$2500">
        </div>

             </div>
           <div class="contdescripcion">
            <div class="plataformas">
              <div class="opciones1"> 
                        <input type="radio" name="platform" id="platform"value="PC"  >PC
              
              
                    <input type="radio" name="platform" id="platform"value="PS" > PS
               
                
                    <input type="radio" name="platform" id="platform"value="XBOX" > XBOX
                </div>
               <div class="opciones2">
              
                    <input type="radio" name="platform" id="platform"value="MULTIPLATFORM" > MULTIPLATFORM
               
            
                    <input type="radio" name="platform" id="platform"value="OTRO" > OTRO
                </div>

            </div>
               <div class="descripcion">
            <label for="descripcion" id= "descripLetra"> Agrega una pequeña descripcion </label>

                <textarea type="textarea" rows=10 id="descripcion" name="description" placeholder="Secuela de la gran saga god of war ..."></textarea>
             </div>

           </div>
           <div class="videoyfoto">

            <div class="videoURL">

                <label for="link" class="labelVideo">URL VIDEO</label>
            <input type="url" id="link" class="inputCreateText" name="link" placeholder="http://www.linkDeReview"></div>
            <div class="imagenCaja">
            <label for="imagen" class="labelCoverFo">Cover foto</label>
            <input type="file" id="botonCoverPhoto" name="image" accept=".jpg, .png"> </div> </div>
            <div class="reqygen">
<div class="cajareq">
              <label for="requisitos" class="reqText">Requerimientos tecnicos</label>
            <textarea type="textarea" id="requisitos" class="inputCreateTextreq" name="requirements" placeholder="EJ: i3 + 4gb RAM + 1GB VIDEO"></textarea>
        </div>
<h4 class="generosTitulo"> Generos</h4>
            <div class="generosCaja" id="generosCajaCreate"> 
             
                <div class="generosdea2">
            <label>
                <input type="radio" name="genre" id="genre" value="Horror" >Horror
            </label>
            <label>
                <input type="radio" name="genre"  id="genre"value="Accion">Accion
            </label>
        </div>
        <div class="generosdea2">
            <label>
                <input type="radio" class="radioin" name="genre" id="genre" value="Deportes">Deportes
            </label>
        
       
            <label>
                <input type="radio" name="genre" id="genre" value="Casual" >Casual
            </label></div>
            <div class="generosdea2">
            <label>
                <input type="radio" name="genre" id="genre" value="Board">Board
            </label>
            <label>
                <input type="radio" name="genre" id="genre" value="Carrera">Carrera
            </label>
        </div>  <div class="generosdea2">
            <label>
                <input type="radio" name="genre" id="genre" value="Lucha">Lucha
            </label>
            <label>
                <input type="radio" name="genre" id="genre" value="Arcade">Arcade
            </label></div>
        
        </div>
</div>
        <br>
                <div class="contBoton">
        <button type="submit" class="botonJuego" id="botones-formularios-cg">Registrar juego</button>
    </div>
        <br>
        <ul class="errors-createGame"></ul>





    </form>

    </main>

</section>
<%- include ('./partials/footer.ejs') %>


<script src="/validations/createGameValidation.js"></script>
</body>

</html>
