<!DOCTYPE html>
<html lang="en">
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
    <script src = '/validations/darkMode.js'></script>
    <section>
        
    </section>



      <%- include('./partials/footer.ejs') %>



       <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/validations/cart-scripts.js"></script>
        <script src = '/validations/darkMode.js'></script>

  </body>

</html>