<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <script src = '/validations/darkMode.js'></script>
    <main>
        <article>
            <div class="myPurchase">
                <div class="myPurchaseBox">

                    <div class="boxMother">
                        <div>Fecha de compra</div>
                    <div class="titleMypurchase">Ttulo De la compra</div>
                    
                </div>
                    <div class="myPurchaseGameBox">juego</div>
            </div>

            <div class="descriptionMypurchase">Descripcion del juego</div>
            <div class="buttonBox">           
            <button class="buttonsmyPurchase">Ver Compra</button>
            <button class="buttonsmyPurchase">Volver a comprar</button>
        </div> 
        </div>
        </article>


    </main>
    <script src = '/validations/darkMode.js'></script>
</body>
<%- include ('./partials/footer.ejs') %>
</html>