<!DOCTYPE html>
<html lang="en">



<head>

  <%- include('./partials/head.ejs') %>


</head>

<body>
  <%- include('./partials/header.ejs') %>
    <main id="mainSignIn">


      <div class="sent-email">

        <div class="msg-email-sent">
         <h2 class="confirm-title-sent">Confirme su Correo para resetear su contraseña y poder continuar</h2>






        </div>

      </div>


    </main>

    <%- include('./partials/footer.ejs') %>

      <script src="/js/new-pass.js"></script>

</body>

</html>