<!DOCTYPE html>
<html lang="en">

  

<head>

    <%- include('./partials/head.ejs') %>


</head>
<body>  <%- include('./partials/header.ejs') %>
    <main id="mainSignIn">

        <div class="contenedorFormularioSignIn">
                <div class="contenedorTitulosSignIn">
        
                  <h1> Sign In </h1>
                  <p>Ingrese sus datos para iniciar sesión </p>
        
                </div>
        
        
        
                  <form action="/user/login" method="POST" id="formularioSignIn">
                    <% if (locals.errors) { %>
        
                      <div class = 'textWarning'>
                       <%= errors.message %>
                      </div>
                     <% } %>
                    <div class="contenedor-inputs-new-pass"> 
                   
        
                      <label for="newPass" class="new-pass-label"> New Password </label>
                  
        
                      <input type="password" id="newPass" name="newPass" placeholder="New Password" class="input-new-password"> </input>
                    </div>
                   
                    <div class="contenedorInputSignIn">
        
                      <label for="password"> Password </label>
        
                      <input type="password" id="password" name="password" placeholder="Contraseña" class="inputPassword"> </input>
                     
        
                    </div>
                    
        
                                 <div class="contenedorBotonSubSignIn">  <button type="submit" id="submit" class="botonSignIn" >  <img src="/images/logo1.png" width="45px" height="45px"/></button>
        
                   <div class="contRecordameSignIn"> <input type="checkbox"  name="persist" > <label for="recordame" class="recordameLabel"><p>Recordame</p> </label></div>
                  </div>
                    <a class="forgotPass" href="/newPass">Forgot your password?</a>
        
                    <div>
                      <ul class="errors-signin"></ul>
                    </div>
                  </form>
                </div>
        
              </main>
        
              <%- include('./partials/footer.ejs') %>
    
</body>
</html>