<!DOCTYPE html>
<html lang="en">



<head>

  <%- include('./partials/head.ejs') %>


</head>

<body>
  <%- include('./partials/header.ejs') %>
    <main id="mainSignIn">


      <div class="sent-email">

        <div class="msg-email-sent">
          <h1 class="confirm-title-sent">Rebice su Correo para resetear su contraseña y poder continuar</h1>
         
            <div class="conteinerConfirmMail">
              <label for="confirmChecked" class="titleConfirmPass">Ya confirmé mi contraseña</h3> </label>
              <input type="checkbox" class="confirmEmailToChangePass" id="confirmChecked" value="mailConfirmed">
         
        </div>
        <a href="/" class="button-re-pass" id="linkToRpass">
                              
             <img src="/images/logo1.png" id="joysConfirmPass" width="80px" height="80px">
     
          </a> 
    


        </div>

      </div>


    </main>

    <%- include('./partials/footer.ejs') %>

      <script src="/js/new-pass.js"></script>

</body>

</html>