<!DOCTYPE html>
<html lang="en">
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/header.ejs') %>
  <section class="page-chart">
    <div class="encabezado-chart">
      Compra


      <a>Favoritos <i class="fas fa-star"></i></a>
    </div>
    <div class="juegos-chart">

      <img src="/images/Bf1.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>



    </div>
    <div class="juegos-chart">
      <img src="/images/Bf2.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>


    </div>
    <div class="juegos-chart">
      <img src="/images/Bf3.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>
    </div>
    <div class="juegos-chart">
      <img src="/images/Bf4.jpg" class="portada-chart">
      <div class="descripcion-chart">
        Descripciones
      </div>

      <i class="far fa-star"></i>
      <i class="fas fa-trash"></i>
      <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      <div>$xxxxx</div>

    </div>
    </div>


  </section>

  <div class="buttomtotal-chart">
    Total
    <button>Continuar Compra</button>
  </div>

  <%- include('./partials/footer.ejs') %>





</body>

</html>