<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main id="mainSignUp">
        <form action="/user/sign-up" enctype="multipart/form-data" method="POST" class="formularioSignUp">


          <div class="contenedorTitulosSignUp">

            <div class=tituloFormulario>

              <h1> Sign up </h1>
            </div>



            <div class=divParrafo>

              <p>Ingrese sus datos para registrarse como usuario nuevo </p>

            </div>
          </div>


          <div class="contenedorInputsSignInuno">

            <div class="contenedorNombresSignUp">

              <label for="first-name" class="labelSignUp"> Nombre
                <input type="name" id="first-name" name="firstName" placeholder="First Name "></label>

              <label for="last-name" class="labelSignUp">Apellido
                <input type="name" id="last-name" name="lastName" placeholder="Last Name "></label>

            </div>

            <div class="contenedorPassyMail">

              <label for="password" class="labelSignUp"> Contraseña

                <input type="password" id="password" name="password" placeholder="Password"> </input></label>

              <label for="email" class="labelSignUp">Email

                <input type="email" id="email" name="email" placeholder="Your Email"> </input></label>
            </div>

            <div class="contenedorBdyGeneros">
            <div class="contenedorBday">

              <label for="bday" >Fecha De Nacimiento

                <input type="date" id="bday" name="bday" min="1930-01-01" max="2003-01-01"> </input></label>

            </div>
            <label for="imagen" class="labelSignUp">Cover foto</label>
            <input type="file" id="botonCoverPhoto" name="image" accept=".jpg, .png"> </div>


          <button type="submit"  class="botonSignUp"> <img src="/images/logo1.png" width="45px" height="45px" textalign = 'center'/></button>

        </form>

      </main>

      <%- include('./partials/footer.ejs') %>
      <div >
        <ul class="errors-signup">

        </ul>
        <!-- errrors -->
      </div>

      <script src="/validations/signup-scripts.js">

      </script>

  </body>

</html>