<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

 <%- include('./partials/header.ejs')  %>

  <main id="mainSignUp">


    <div class=cuadradoCentral>


      <div class=tituloFormulario>
        <h1> Sign up </h1>
      </div>


      <div class=divParrafo>
        <p>Ingrese sus datos para registrarse como usuario nuevo </p>

      </div>

      <form class="formulario">
        <input type="name" id="name" name="first-name" placeholder="First Name ">
        <input type="name" id="name" name="second-name" placeholder="Second Name ">
        
        <input type="email" id="email" name="email" placeholder="Your Email"> </input>
        <input type="password" id="password" name="password" placeholder="Password"> </input>
        <input type="password" id="password" name="password" placeholder="New Password"> </input>
        


        <label>
          <input type="radio" name="category" value="Horror"  >Horror
      </label>
      
      <label>
          <input type="radio" name="category" value="Accion">Accion
      </label>
  
 
      <label>
          <input type="radio" class="radioin" name="category" value="Deportes">Deportes
      </label>
  
 
      <label>
          <input type="radio" name="category" value="Casual" >Casual
      </label></div>
      
      <label>
          <input type="radio" name="category" value="Board">Board
      </label>
      <label>
          <input type="radio" name="category" value="Carrera">Carrera
      </label>
  
      <label>
          <input type="radio" name="category" value="Lucha">Lucha
      </label>
      <label>
          <input type="radio" name="category" value="Arcade">Arcade
      </label>

        <button type="submit" id="submit"> Sign up</button>

      </form>

      <a class="forgotPass" href="asdsad">Forgot your password?</a>





    </div>


  </main>

  <%- include('./partials/footer.ejs')  %>

</body>

</html>