<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

 <%- include('./partials/header.ejs')  %>

  <main id="mainSign">


    <div class=cuadradoCentral>


      <div class=tituloFormulario>
        <h1> Sign up </h1>
      </div>


      <div class=divParrafo>
        <p>Ingrese sus datos para iniciar sesión </p>

      </div>

      <form class="formulario">
        <input type="name" id="name" name="name" placeholder="Enter your name ">
        <input type="email" id="email" name="email" placeholder="Your Email"> </input>
        <input type="password" id="password" name="password" placeholder="Password"> </input>

        <button type="submit" id="submit"> Sign up</button>

      </form>

      <a class="forgotPass" href="asdsad">Forgot your password?</a>





    </div>


  </main>

  <%- include('./partials/footer.ejs')  %>

</body>

</html>