<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>

    <%- include('./partials/header.ejs') %>

      <main id="mainSignIn">

<div class="contenedorFormularioSignIn">
        <div class="contenedorTitulosSignIn">

          <h1> Sign In </h1>
          <p>Ingrese sus datos para iniciar sesión </p>
      
        </div>


        
          <form method="POST" action="">
            <div class="contenedorInputSignIn">

              <label for="email"> Email </label>

<<<<<<< HEAD
              <input type="email" id="email" name="email" placeholder="Email"> </input>
=======
              <input type="email" id="email" name="email" placeholder="Email" class="inputEmail"> </input>
>>>>>>> matias-dev
            </div>
            <div class="contenedorInputSignIn">

              <label for="password"> Password </label>

              <input type="password" id="password" name="password" placeholder="Contraseña" class="inputPassword"> </input>

            </div>

                         <div class="contenedorBotonSubSignIn">  <button type="submit" id="submit" class="botonSignIn" >  <img src="/images/logo1.png" width="45px" height="45px"/></button>

           <div class="contRecordameSignIn"> <input type="checkbox"  name="recordame" > <label for="recordame" class="recordameLabel"><p>Recordame</p> </label></div>
          </div>
            <a class="forgotPass" href="asdsad">Forgot your password?</a>
          </form>
        </div>

      </main>

      <%- include('./partials/footer.ejs') %>

  </body>

</html>