<!DOCTYPE html>
<html lang="en">

  

<head>

    <%- include('./partials/head.ejs') %>


</head>
<body>  <%- include('./partials/header.ejs') %>
    <main id="mainSignIn">

        
     

        <div class="contenedorFormularioSignIn">
                <div class="contenedorTitulosSignIn">
        
                  <h1> Bienvenido!  </h1>

                  
                  <p><%= user  %> <h3>Revisa tu correo electrónico para confirmar tu usuario</h3>  
     
                  </p>
                  <br>
        
                </div>

            </div>
        
        
              </main>
        
              <%- include('./partials/footer.ejs') %>

              <script src="/js/new-pass.js"></script>
    
</body>
</html>