<header>
    <div class="Main-topNavbar">
      <a href="/">
      <img src="/images/logo1.png" width="50px" alt="sapee" class='logo'>
    </a>
      <div class="copy-header">
        My Mad Games
      </div>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="  search-query form-control" placeholder="Search" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class=" glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>


      <div class="dots">
        <i class="fas fa-ellipsis-v"></i>
      </div>


      <nav class="mainNavbar">

        <ul>
          <li>
            <a href="/product-cart">
            <i class="fas fa-shopping-cart"></i>
          </a>

          </li>
          <li>
            <a href="/products/create">
              <i class="fas fa-plus"></i>
            </a>
          </li>
          <form method="post" action="/user/logout">
          <li>
            <a href="/user/logout">
            <button type="submit" class="far fa-star"></button>

          </a>
          </li>
        </form>
        <% if (!locals.logged) { %>
          <li>
            <a href="/user/sign-up">
            <i class="fas fa-user"></i>
          </a>

          </li>
          <li>
            <a href="/user/login">
            <i class="far fa-question-circle"></i>
          </a>
          </li>
        <% } %>

          <% if (locals.image) { %>
            <li>
              <a href="/">
              <img src= <%= locals.image  %> class = 'roundImage'    alt="" width = 30px>
            </a>
            </li>
            <% } %>









        </ul>
      </nav>
    </div>

</header>