<header>
    <div class="Main-topNavbar">
      <a href="/">
      <img src="/images/logo1.png" width="50px" alt="sapee" class='logo'>
    </a>
      <div class="copy-header">
        My Mad Games
      </div>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <form action="/products/search" class="form-search">
          <input type="text" id="searching" name="q" class="  search-query form-control" placeholder="Search"/>
          <span class="input-group-btn">
            <button class="btn btn-danger" type="submit">
              <span class=" glyphicon glyphicon-search"></span>
            </button></form>
          </span>

        </div>

      </div>
      <button class="ham">
        <!-- X and menu icon SVGs from material icons https://material.io/resources/icons/ -->
        <span class="menuIcon material-icons hamburguesa">
          menu
        </span>

      </button>


      <div class="dots">
        <i class="fas fa-ellipsis-v"></i>
      </div>


      <ul class="menu">
        <li><a class="menuLink" href="#">Home</a></li>
        <li><a class="menuLink" href="#">Profile</a></li>
        <li><a class="menuLink" href="#">About</a></li>
        <li><a class="menuLink" href="#">Contacts</a></li>
      </ul>

      <nav class="mainNavbar">

        <ul class ='losLinks'>





        <% if (!locals.logged) { %>
          <li>
            <a class = 'navbarlinksNuevos' href="/user/sign-up">
            <i >Crea tu cuenta</i>
          </a>

          </li>
          <li>
            <a class = 'navbarlinksNuevos' href="/user/login">
            <i >Ingresa</i>
          </a>
          </li>



        <% } %>

          <% if (locals.image) { %>
            <li>
              <a class = 'navbarlinksNuevos'href="/user/profile">
              <img src= <%= locals.image %> class = 'roundImage'    alt="" width = 30px>
              <i><%= locals.user.first_name %> </i>

            </li>


          <li>
            <a class = 'navbarlinksNuevos' href="/myPurchases">
            <i>Mis compras</i>
          </a>
          </li>

          <li>
            <a class = 'navbarlinksNuevos' href="/favorites">
            <i class = 'fas fa-star'></i>
          </a>
          </li>



            <li>

              <a class = 'navbarlinksNuevos' href="/product-cart">
              <i class="fas fa-shopping-cart"></i>

              <% if (locals.logged) { %>
                <div class = 'carritoCounter'></div>

              </a>

            </li>
            <!-- <form method="post" action="/user/logout">
              <li>
                <a href="/user/logout">
                <button  type="submit">salir</button>

              </a>
              </li>
            </form> -->
            <% } %>

            <!-- <% if (locals.user.RoleId == 2) { %>
              <li>
                <a href="/products/create">
                  <i class="fas fa-plus" data-toggle="tooltip" data-placement="top" title="create game"></i></i>
                </a>
              </li>
            <% } %> -->



              <% } %>




            <li>
              <label class="switch">

              <input type="checkbox" unchecked class="toggle">
              <span class="slider round"></span>
              </label>
            </li>








        </ul>
      </nav>
    </div>
    <% if (locals.logged) { %>
      <input type = 'hidden' class = 'usuario' value = <%= locals.user.id %>>

    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/validations/burgerCart.js"></script>
    <script>
      var menu = document.querySelector(".menu")
var ham = document.querySelector(".ham")
var xIcon = document.querySelector(".xIcon")
var menuIcon = document.querySelector(".menuIcon")

ham.addEventListener("click", toggleMenu)

function toggleMenu() {
  if (menu.classList.contains("showMenu")) {
    menu.classList.remove("showMenu");
    xIcon.style.display = "none";
    menuIcon.style.display = "block";
  } else {
    menu.classList.add("showMenu");
    xIcon.style.display = "block";
    menuIcon.style.display = "none";
  }
}

var menuLinks = document.querySelectorAll(".menuLink")

menuLinks.forEach(
  function (menuLink) {
    menuLink.addEventListener("click", toggleMenu)
  }
)
    </script>

</header>